<% if flash.any? %>
  <% flash.each do |type, msg| %>
		<% if msg[0..12] == "Redéploiement"%>
			<div class="fr-alert fr-alert--success">
				<h3 class="fr-alert__title"> <%= msg %></h3>
			</div>
		<% end %>
  <% end %>
<% end %>